<mat-card *ngFor="let item of items; let counter = index;" (click)="onItemSelected(counter)" [tabindex]="counter" class="service-item">
  <mat-icon>{{ getIcon(item) }}</mat-icon> {{ item.title }}
</mat-card>
